.topbar{
    width: 100%;
    height: 80px;
    background-color: #fff; /* #15023a; */ 
    /* color: #15023a; */
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

}

.wrapper_topbar{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.left_topbar a{
    text-decoration: none;
    font-size: 38px;
    /* font-weight: 700; */
    color: inherit;
    margin-right: 30px;
    font-family: "Agbalumo", sans-serif;
}

.itemContainer_topbar{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.itemContainer_topbar i{
    font-style: 18px;
    margin-right: 5px;
}

.itemContainer_topbar span{
    font-size: 18px;
    font-weight: 600;
}

.right_topbar{
    color: #15023a;
    display: flex;
    /* justify-content: end; */
    
}

.hamburger_topbar{
    width: 28px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger_topbar span{
    width: 100%;
    height: 4px;
    background-color: #15023a;
    transform-origin: left;
    transition: all 2s ease;

}

.topbar.active{
    background-color: #15023a;
    color: #fff;
}
.topbar.active .hamburger_topbar span:first-child{
    background-color: #fff;
    transform: rotate(45deg);
}
.topbar.active .hamburger_topbar span:nth-child(2) {
    opacity: 0;
}
.topbar.active .hamburger_topbar span:last-child{
    background-color: #fff;
    transform: rotate(-45deg);
}


