.testimonials{
    width: 100vw;
    height: calc(100vh - 80px);
    scroll-snap-align: start;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials h1{
    font-size: 50px;
}

.testi_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.testi_card{
    width: 250px;
    height: 70%;
    border-radius: 10px;
    background-color: crimson;
    box-shadow: 0px 0px 15px -8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    transition: all .5s ease;
}

.testi_card.featured{
    width: 300px;
    height: 75%;
}

.testi_card:hover{
    transform: scale(1.1);
    
    cursor: pointer;
}

.testi_top{
    display: flex;
    align-items: center;
    justify-content: center;

}

.testi_top i{
    font-size: 30px;
    /* rotate: 90deg; */
}

.testi_top i:nth-child(1){
    /* font-size: 30px; */
    rotate: 90deg;
}

.testi_top img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 30px;
}

.testi_center{
    padding: 10px;
    /* text-align: justify; */
    font-style: italic;
    /* background-color: #fff; */
}

.testi_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testi_bottom h3{
    margin-bottom: 5px;

}
.testi_bottom h4{
    color: gold;

}

@media (max-width: 850px) {
    .testi_container {
        flex-direction: column;
    }
}